.about {
    display: flex;
    padding: 0 9rem;

    img {
        width: 20rem;
        height: 25rem;
    }
}

.about__box {
    max-width: 40rem;
    margin: 0 auto;
}

.tech__stack {
    img {
        width: 3rem;
        height: 3rem;
    }
}

.frontend__color {
    color: red;
}