@import '../utilities.scss';

.about {
    img {
        border-bottom: 2px solid #464646;
        border-right: 2px solid #464646;
        border-radius: 16px;
    }

    p {
        margin: 0.75rem 0;
    }

    .about__left {
        h1 {
            color: $clr-sectionheader;
        }
    }
}

.tech__stack {
    ul {
        display: flex;
        gap: 1rem;
    }

    img {
        width: 3rem;
        height: 3rem;
    }
}

@media (min-width: 200px) {
    .about {
        .tech__stack {
            ul {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
        }

        .mypic {
            display: block;
            width: 18rem;
            height: 24rem;
        }
    }
}

@media (min-width: 320px) {
    .about {

        .about__left {
            h1 {
                font-size: 2rem;
            }

            h3 {
                margin-bottom: 1rem;
            }
        }

        .about__left>div {
            margin: 2rem 0;
        }

        .tech__stack {
            ul {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
        }

        img {}

        .mypic {
            display: block;
            width: 19rem;
            height: 25rem;
        }
    }
}

@media (min-width: 475px) {
    .about {
        .tech__stack {
            ul {
                display: flex;
                justify-content: center;
            }
        }

        img {
            margin: 0 auto;
        }

        .mypic {
            display: block;
            width: 20rem;
            height: 25rem;
        }
    }
}

@media (min-width: 640px) {
    .about {

        .tech__stack {
            ul {
                display: flex;
                justify-content: center;
            }
        }

        .mypic {
            display: block;
            width: 20rem;
            height: 25rem;
        }

        .about__left {
            //border: 1px solid #fff;
            max-width: 35rem;
            margin: 0 auto;
        }

        .about__box {
            max-width: 35rem;
            margin: 0 auto;
        }
    }
}

@media (min-width: 768px) {
    .about {
        display: block;
        padding: 0 9rem;

        .mypic {
            margin-top: auto;
            margin-bottom: auto;
            width: 20rem;
            height: 25rem;
        }

        .tech__stack {
            ul {
                display: flex;
                justify-content: center;
            }
        }
    }
}

@media (min-width: 1024px) {
    .about {
        .tech__stack {
            ul {
                display: flex;
                justify-content: center;
            }
        }
    }
}

@media (min-width: 1280px) {
    .about {
        display: flex;
        padding: 0 9rem;

        .mypic {
            margin-top: auto;
            margin-bottom: auto;
            width: 20rem;
            height: 25rem;
        }

        .about__box {
            max-width: 35rem;
            margin: 0 auto;
        }

        .tech__stack {
            img {
                width: 3rem;
                height: 3rem;
            }
        }
    }
}

@media (min-width: 1536px) {
    .about {
        display: flex;
        padding: 0 17rem;

        .mypic {
            margin-top: auto;
            margin-bottom: auto;
            width: 20rem;
            height: 25rem;
        }

        * {
            //border: 1px solid #ccc;
        }

        .about__box {
            max-width: 40rem;
            margin: 0 auto;
        }

        .tech__stack {
            img {
                width: 3rem;
                height: 3rem;
            }
        }
    }
}