@import '../utilities.scss';

.footer {
    padding-bottom: 1rem;

    a {
        &:hover {
            scale: 1.10;
        }
    }
}

@media (min-width: 320px) {
    .footer {
        p {
            font-size: 0.9rem;
        }
    }
}

@media (min-width: 475px) {
    .footer {
        p {
            font-size: 1rem;
        }
    }
}