@import '../utilities.scss';

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    z-index: 99999;

    nav {
        ul {
            display: flex;
            gap: 1.25rem;
            list-style: none;


            li {


                a {
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        color: $clr-rose;
                    }
                }
            }
        }
    }

    button {
        background: none;
        border: none;
    }
}

.mobile-nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #000; // Change later
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (min-width: 320px) {}

@media (min-width: 475px) {}

@media (min-width: 640px) {
    .header {
        .mobile__nav_btn {
            margin-left: 2rem;
        }
    }
}

@media (min-width: 768px) {
    .header {
        button.mobile__nav_btn {
            display: none;
        }

        nav {
            margin-left: 1rem;
        }

        .right__header_panel {
            margin-right: 0.75rem;

            button {
                color: #fff;
            }

            .btn__toggle_darklight {
                margin-right: 0.5rem;
                padding: 0.5rem;
                border-radius: 100%;
            }

            .btn__resume {
                border-radius: 6px;
                padding: 0.75rem;
                border: 1px solid #fff;
            }
        }
    }
}

@media (min-width: 1024px) {
    .header {
        nav {
            margin-left: 6rem;
        }

        .right__header_panel {
            margin-right: 3rem;
        }
    }
}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}


// Removes nav
@media (max-width: 767px) {
    .header {
        nav {
            display: none;
        }

        .right__header_panel {
            display: none;
        }
    }
}