@import '../utilities.scss';

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    z-index: 99999;

    .mobile__nav_btn {
        z-index: 999991;
    }

    nav {
        ul {
            display: flex;
            gap: 1.25rem;
            list-style: none;


            li {
                padding: 0.25rem 0.5rem;

                a {
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        color: $clr-rose;
                    }
                }
            }
        }
    }

    button {
        background: none;
        border: none;
    }
}

@media (min-width: 200px) {
    .header {
        .left-nav {
            display: none;
        }

        .right__header_panel {
            button {
                color: #fff;
            }

            .btn__resume {
                border-radius: 6px;
                padding: 0.75rem;
                border: 1px solid #fff;
            }
        }
    }
}

@media (min-width: 320px) {
    .header {}
}

@media (min-width: 475px) {}

@media (min-width: 640px) {
    .header {
        .left-nav {
            display: none;
        }

        .mobile__nav_btn {
            margin-left: 2rem;
        }

        .right__header_panel {
            button {
                color: #fff;
            }

            .btn__resume {
                border-radius: 6px;
                padding: 0.75rem;
                border: 1px solid #fff;
            }
        }
    }
}

@media (min-width: 768px) {
    .header {
        .mobile__nav_btn {
            display: none;
        }

        .left-nav {
            display: flex;
            margin-left: 1rem;
        }

        .right__header_panel {
            margin-right: 0.75rem;

            button {
                color: #fff;
            }

            .btn__resume {
                border-radius: 6px;
                padding: 0.75rem;
                border: 1px solid #fff;
            }
        }
    }
}

@media (min-width: 1024px) {
    .header {
        nav {
            margin-left: 6rem;
        }

        .right__header_panel {
            margin-right: 3rem;
        }
    }
}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}


// Removes nav
// @media (max-width: 767px) {
//     .header {
//         nav {
//             display: none;
//         }
//     }
// }