*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  //border: 1px solid blue;
}

body {
  margin: 0;

  // width: 90%;
  // margin-inline: auto;
}

.mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #000; // Change later
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid red;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 99999;

  button {
    background: none;
    border: none;
  }
}

ul {
  display: flex;
  gap: 1.25rem;
  list-style: none;
}

.section {
  margin-top: 5rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-slate400);
}

@media (min-width: 475px) {
  .container {
    max-width: 475px
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }



  .header {
    button.mobile__nav_btn {
      display: none;
    }

    .right__header_panel {
      margin-right: 0.75rem;

      button {
        padding: 0.75rem;
        border: 1px solid #fff;
      }

      .btn__toggle_darklight {
        margin-right: 0.5rem;
        padding: 0.5rem;
        border-radius: 100%;
      }

      .btn__resume {
        border-radius: 6px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }

  .section {
    margin-top: 10rem
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

// Removes nav
@media (max-width: 767px) {
  .header {


    nav {
      display: none;
    }

    .right__header_panel {
      display: none;
    }
  }
}