.top-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  background-color: #1f1f1f;

  .top-panel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.home-panel {
  position: relative;
  height: 75px;
  background-color: #272727;
}