@import './utilities.scss';

@media (min-width: 475px) {
    .container {
        max-width: 475px
    }

    .hero {
        h1 {
            font-size: 3rem;
        }
    }

    .projects {

        .project__cards {
            display: block;
        }
    }
}

@media (min-width: 640px) {
    .container {
        max-width: 640px
    }

    .hero {
        h1 {
            font-size: 4rem;
        }
    }

    .projects {

        .project__cards {
            display: block;
        }
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px
    }



    .header {
        button.mobile__nav_btn {
            display: none;
        }

        .right__header_panel {
            margin-right: 0.75rem;

            button {
                color: #fff;
            }

            .btn__toggle_darklight {
                margin-right: 0.5rem;
                padding: 0.5rem;
                border-radius: 100%;
            }

            .btn__resume {
                border-radius: 6px;
                padding: 0.75rem;
                border: 1px solid #fff;
            }
        }
    }

    .hero {
        h1 {
            font-size: 5rem;
        }
    }

    .about {
        display: block;
        padding: 0 9rem;

        img {
            display: block;
            width: 20rem;
            height: 25rem;
        }
    }

    .projects {

        .project__cards {
            display: block;
        }
    }


}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px
    }

    .section {
        margin-top: 10rem
    }

    .hero {
        h1 {
            font-size: 6rem;
        }
    }

    .projects {
        .project__cards {
            display: block;
        }
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }

    .projects {
        .project__cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px
    }

    .projects {
        .project__cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}










// Removes nav
@media (max-width: 767px) {
    .header {


        nav {
            display: none;
        }

        .right__header_panel {
            display: none;
        }
    }
}